extends mail-boilerplate.pug

block body
  - const labelMap = { name: '이름', id: 'ID', content: '내용' }
  - const { contentContainer, titleHeading, label } = styles 

  h3(style=titleHeading) 피드백 생성

  div(style=contentContainer)
    each val, key in data
      p(style={ padding: '0px' })
        label(style=label) #{labelMap[key]}: 
        span(style={ 'display': 'inline-block', 'margin-left': '4px' }) #{val}
